.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(to right, rgb(87, 3, 3) -150vw, black 80vw, rgb(65, 2, 2));
}

span {
  font-size: 22px;
  color: white;
}

img {
  height: 80%;
}

.square {
  color: white;
  font-size: 15vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #a11414;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.5em;
  gap: 1em;
  grid-template-rows: 25vh 25vh 25vh;
}

.reset-button {
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: x-large;
  border: 2px solid #a11414;
}

.reset-button:hover {
  background-color: #5a0606;
}